* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans';
}

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: rgb(210, 237, 252);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container{
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    object-fit: contain;
    height: 25px;
}

.nav-bar-container {
    margin-left: 20px;
    gap: 30px;
    display: flex;
    align-items: center;
}

.user-detail-container {
    margin-right: 20px;
    display: flex;
    gap: 30px;
    
}

.dashboard-button{
    padding: 20px 0px;
}

.ticket-button{
    padding: 20px 0px;
}

.user-detail-container{
    padding: 20px 0px;
}

.dashboard-button:hover {
    cursor: pointer;
}

.ticket-button:hover{
    cursor: pointer;
}

.logout-button:hover{
    cursor: pointer;
}