* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.preload{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #77b3d4;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
}

.cloud1,.cloud2,.cloud3{
    height: 100px;
    position: absolute;
    right: 0%;
    z-index: -1;
}

.cloud1{
    top: 25%;
    transform: translate(100%, -25%);
    animation: clouds 3s ease infinite;
}

.cloud2{
    top: 50%;
    transform: translate(100%, -50%);
    animation: clouds 3s ease infinite 2s;
}

.cloud3{
    top: 75%;
    transform: translate(100%, -75%);
    animation: clouds 3s ease infinite 1.5s;
}

.airplane{
    height: 200px;
    animation: airplane 1s ease infinite alternate;
}

.preload h3{
    position: absolute;
    top: 75%;
    transform: translateY(-75%);
    color: white;
    font-size: 30px;
}

@keyframes airplane{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(50px);
    }
}

@keyframes clouds{
    from{
        right: 0%;
    }
    to{
        right: 130%;
    }
}

.preload-finish{
    opacity: 0;
    pointer-events: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; 
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.register-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 430px;
    width: 300px;
    border:none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 50px;
    border-width: 1px;
    background-color: rgba(255, 244, 210, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.img-radius{
    width: 80%;
    padding: 20px;
}

.header-name {
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 40px;
    font-weight: bold;
    
    color: rgb(0, 32, 126);
}

.username-container {
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.username-textbox {
    width: 86%;
    margin-top: 15px;
    margin-bottom: 30px;
    border-style: solid;
    outline: none;
    border-color: #203e75;
    padding: 10px 0;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.username-label {
    color: rgb(0, 0, 0);
    display: inline-block;
}

#username-taken-label {
    display: inline-block;
    padding-left: 10px;
    color: red;
}

.password-container {
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.password-textbox {
    width: 86%;
    margin-top: 15px;
    margin-bottom: 30px;
    border-style: solid;
    outline: none;
    border-color: #203e75;
    padding: 10px 0;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.password-label {
    color: rgb(0, 0, 0);
    display: inline-block;
}

#password-taken-label {
    display: inline-block;
    padding-left: 10px;
    color: red;
}

.register-label {
    color: #203e75;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.register-button {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 30px;
    border: none;
    background-color: #203e75;
    padding: 10px 0;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
}