* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/bg.jpg");
    background-color: #80b7df;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.register-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 300px;
    border:none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 50px;
    border-width: 1px;
    background-color: aliceblue;
}

.img-radius{
    width: 50%;
    padding: 20px;
}

.header-name {
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 40px;
    font-weight: bold;
    
    color: rgb(0, 32, 126);
}

.username-container {
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.username-textbox {
    width: 86%;
    margin-top: 15px;
    margin-bottom: 30px;
    border-style: solid;
    outline: none;
    border-color: #4cb5fe;;
    padding: 10px 0;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.username-label {
    color: rgb(0, 0, 0);
    display: inline-block;
}

#username-taken-label {
    display: inline-block;
    padding-left: 10px;
    color: red;
}

.password-container {
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.password-textbox {
    width: 86%;
    margin-top: 15px;
    margin-bottom: 30px;
    border-style: solid;
    outline: none;
    border-color: #4cb5fe;;
    padding: 10px 0;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.password-label {
    color: rgb(0, 0, 0);
    display: inline-block;
}

#password-taken-label {
    display: inline-block;
    padding-left: 10px;
    color: red;
}

.register-label {
    color: rgb(72, 140, 237);
    text-decoration: none;
}

.register-button {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 30px;
    border: none;
    background-color: #4cb5fe;;
    padding: 10px 0;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
}